.idea/
nimcache/
main
parallelTest
recreateProblem
Trees/.DS_Store
.DS_Store
Trees/app
DifferentialEvolution/app
DifferentialEvolution/helpers
GeneticProgramming/app
.DS_Store
DifferentialEvolution/app.exe
GeneticProgramming/app.exe
EvolvingNeuralNet/app
